.scroll__image {
  position: fixed;
  right: 0;
  top: -25px;
  /* top: 75px; */
  height: 50px;

  z-index: 100;
  transition: 2s infinite normal ease-in;
}

.chain__image {
  position: fixed;
  right: -20px;
  top: 100px;

  width: 50px;

  z-index: 99;
  transition: 2s infinite normal ease-in;
}

/* for mobile */
@media screen and (max-width: 768px) {
  .scroll__image {
    display: none;
  }
}
