.homeAbout {
  text-align: center;
  margin-bottom: 10rem;
}

.homeAbout__title {
  color: var(--color-black);
  font-size: 50px;
  margin: 2rem;
  text-shadow: 1px 0px var(--color-primary);
}

.homeAbout__content {
  color: var(--color-black);
  font-weight: 500;
  font-size: 28px;
}

.about__btn {
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 5rem;
  margin-top: 2rem;

  font-size: 22px;

  color: var(--color-white);
  background-color: var(--color-primary);
}

.about__btn:hover {
  color: var(--color-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
}

/* ============================== MEDIA QUERIES (MEDIUM DEVICES) ============================ */

@media screen and (max-width: 1020px) {
  .homeAbout__title {
    font-size: 44px;
  }

  .homeAbout__content {
    font-size: 24px;
  }
}

/* ============================== MEDIA QUERIES (SMALL DEVICES) ============================ */

@media screen and (max-width: 600px) {
  .homeAbout__title {
    font-size: 36px;
  }

  .homeAbout__content {
    font-size: 18px;
  }
}
