.homeAbout {
  text-align: center;
}

.homeAbout__title {
  color: var(--color-black);
  font-size: 50px;
  margin: 2rem;
  text-shadow: 1px 0px var(--color-primary);
}

.homeAbout__content {
  color: var(--color-black);
  font-weight: 500;
  font-size: 28px;
}

/* ============================== MEDIA QUERIES (MEDIUM DEVICES) ============================ */

@media screen and (max-width: 1020px) {
  .homeAbout__title {
    font-size: 44px;
  }

  .homeAbout__content {
    font-size: 24px;
  }
}

/* ============================== MEDIA QUERIES (SMALL DEVICES) ============================ */

@media screen and (max-width: 600px) {
  .homeAbout__title {
    font-size: 36px;
  }

  .homeAbout__content {
    font-size: 18px;
  }
}
