.template__main {
  display: grid;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;

  height: 100%;
}

.portraitDiv {
  height: 250px;
  width: 250px;
}

.portrait {
  object-fit: contain;
  width: 250px;
}

.template__name {
  font-size: 36px;
  padding-bottom: 2rem;
  color: var(--color-primary);
}

.template__description {
  font-size: 22px;
}

.template__btn {
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 1rem;

  width: 50%;
  margin-top: 5rem;
  font-size: 25px;
}

.template__btn:hover {
  color: var(--color-white);
}

.image__animation {
  transition: var(--transition);
}

.image__animation:hover {
  transform: rotate(10deg);
}

/* .zoom {
  z-index: 1;
  transform: scale(3);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: 2s infinite ease-in;
}

.zoomImg {
  transform: rotate(10deg);
} */

/* ============= (Conditional For each Page's Images) ===============)*/

/* HR/CR Cut Slitting Line */

.div1 {
  background-color: var(--color-primary);
  height: 300px;
  border-radius: 1rem;
  width: 350px;
}

.image1 {
  border-radius: 1rem;
  rotate: -10deg;
}

/* HR/CR Cut Cut to length */
.div2 {
  background-color: var(--color-primary);
  height: 300px;
  border-radius: 1rem;
  width: 350px;
}

.image2 {
  border-radius: 1rem;
  rotate: -10deg;
}

/* pickling line*/
.div3 {
  background-color: var(--color-primary);
  height: 300px;
  border-radius: 1rem;
  width: 350px;
}

.image3 {
  border-radius: 1rem;
  rotate: -10deg;
}

/* CGL */
.div4 {
  background-color: var(--color-primary);
  height: 300px;
  border-radius: 1rem;
  width: 350px;
}

.image4 {
  border-radius: 1rem;
  rotate: -10deg;
}

/* Backup Chocks*/
.div5 {
  background-color: var(--color-primary);
  height: 350px;
  border-radius: 1rem;
  width: 250px;
}

.image5 {
  border-radius: 1rem;
  rotate: -10deg;
}

/* work roll chocks*/
.div6 {
  background-color: var(--color-primary);
  height: 300px;
  border-radius: 1rem;
  width: 300px;
}

.image6 {
  border-radius: 1rem;
  rotate: -10deg;
  height: 300px;
}

/* Mill and roll chocks */
.div7 {
  background-color: var(--color-primary);
  height: 300px;
  border-radius: 1rem;
  width: 400px;
}

.image7 {
  border-radius: 1rem;
  rotate: -10deg;
}

/*  6 Hi Leveller */
.div8 {
  background-color: var(--color-primary);
  height: 330px;
  border-radius: 1rem;
  width: 250px;
}

.image8 {
  border-radius: 1rem;
  rotate: -10deg;
}

/* Entry Coil Car*/
.div9 {
  background-color: var(--color-primary);
  height: 330px;
  border-radius: 1rem;
  width: 250px;
}

.image9 {
  border-radius: 1rem;
  rotate: -10deg;
}

/* Exit Coil Car*/

.div10 {
  background-color: var(--color-primary);
  height: 300px;
  border-radius: 1rem;
  width: 400px;
}

.image10 {
  border-radius: 1rem;
  height: 300px;
  rotate: -10deg;
}

/* Coil Peeler */
.div11 {
  background-color: var(--color-primary);
  height: 330px;
  border-radius: 1rem;
  width: 250px;
}

.image11 {
  border-radius: 1rem;
  rotate: -10deg;
}

/* deflector cum pinch roll */

.div12 {
  background-color: var(--color-primary);
  height: 300px;
  border-radius: 1rem;
  width: 400px;
}

.image12 {
  border-radius: 1rem;
  height: 300px;
  rotate: -10deg;
}

/* Pinch cum leveller r*/
.div13 {
  background-color: var(--color-primary);
  height: 400px;
  border-radius: 1rem;
  width: 250px;
}

.image13 {
  border-radius: 1rem;
  height: 400px;
  rotate: -10deg;
}

/* uncoiler recoiler */
.div14 {
  background-color: var(--color-primary);
  height: 300px;
  border-radius: 1rem;
  width: 330px;
}

.image14 {
  border-radius: 1rem;
  height: 300px;
  rotate: -10deg;
}

/* ============================== MEDIA QUERIES (MEDIUM DEVICES) ============================ */

@media screen and (max-width: 1024px) {
  .div__responsive {
    transform: scale(0.8);
  }

  .product {
    grid-template-columns: 1fr;
  }
}

/* ============================== MEDIA QUERIES (SMALL DEVICES) ============================ */

@media screen and (max-width: 600px) {
  .div__responsive {
    transform: scale(0.6);
    margin: -2rem;
  }

  .template__details {
    text-align: center;
  }

  .template__name {
    font-size: 22px;
  }

  .template__description {
    font-size: 16px;
  }

  .product {
    grid-template-columns: 1fr;
  }
}
