* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-primary: #243d42;
  --color-black: #111c22;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --color-primary-varient: rgba(36, 61, 66, 0.6);

  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
  overflow-y: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.loading__screen {
  display: flex;
  justify-content: center;
  margin-top: 10rem;

  transform: scale(2);
}

.center {
  display: flex;
  justify-content: center;
}

.max__linesTitle {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.2em;
  /* max-height: 1.3em; */
}

.max__linesContent {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
}

/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
} */
