.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  height: 100px;

  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: var(--color-primary);
}

.nav__logo {
  position: fixed;
  left: 20px;
  object-fit: contain;
  width: 80px;

  color: var(--color-white);
}

.nav__links {
  position: fixed;
  right: 20px;
  object-fit: contain;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}
li a:hover {
  color: white;
}

li a {
  display: block;
  color: var(--color-white);
  text-align: center;
  padding: 16px;
  font-weight: 500;
}

.nav__icon {
  display: none;
}

.products {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: 1rem;
}

.products__nav {
  background-color: var(--color-primary-varient);
  color: var(--color-black);
  box-shadow: 2px 2px var(--color-white);
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.products__links {
  font-size: 16px;
  padding: 1rem;
  color: var(--color-white);
  background-color: var(--color-primary);

  border-bottom: 0.1px solid var(--color-white);
}

.products__links:hover {
  background-color: var(--color-primary-varient);
}

/* ===================== (HANDHELD DEVICES) ==================== */
@media (max-width: 768px) {
  .nav__toggle {
    display: none;
  }

  .nav__icon {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 30px;
    color: var(--color-white);
  }

  .Open {
    display: none;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    right: 0;
    background-color: var(--color-primary);
    width: 100%;
  }

  .products {
    border: 2px solid red;
    display: flex;
    justify-content: center;
  }

  .products__links {
    font-size: 16px;
    padding: 10px;
  }

  .bg__color {
    background-color: var(--color-primary);
  }
}
