.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  height: 100px;

  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: var(--color-primary);
}

.nav__logo {
  position: fixed;
  left: 20px;
  object-fit: contain;
  width: 80px;

  color: var(--color-white);
}

.nav__links {
  position: fixed;
  right: 20px;
  object-fit: contain;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--color-white);
  text-align: center;
  padding: 16px;
  font-weight: 500;
}
