.about__intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about__title {
  font-size: 50px;
  padding-bottom: 1rem;
}

.about__description {
  font-size: 22px;
  padding-bottom: 1rem;
  color: var(--color-primary);
}

.about__imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__imageBg {
  height: 300px;
  width: 300px;
  border-radius: 1rem;
  background-color: var(--color-primary);
}

.about__image {
  object-fit: cover;
  height: 300px;
  border-radius: 1rem;

  transform: rotate(-10deg);
  transition: var(--transition);
}

.about__image:hover {
  transform: rotate(0);
}

.about__values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
}

.about__counter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  color: var(--color-white);
}

/* ============================== MEDIA QUERIES (MEDIUM DEVICES) ============================ */

@media screen and (max-width: 1024px) {
  .about__intro {
    grid-template-columns: 1fr;
  }

  .about__imageBg {
    margin-bottom: 2rem;
  }

  .about__values {
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
}

/* ============================== MEDIA QUERIES (SMALL DEVICES) ============================ */

@media screen and (max-width: 600px) {
  .about__intro {
    grid-template-columns: 1fr;
  }

  .about__imageBg {
    margin-bottom: 2rem;
  }

  .about__counter {
    grid-template-columns: 1fr;
  }

  .about__values {
    grid-template-columns: 1fr;
    gap: 2%;
  }
}
