.values__container {
  border: 5px solid var(--color-primary);
  border-radius: 1rem;

  margin-top: 10rem;
}

.values__contents {
  background: linear-gradient(
    180deg,
    var(--color-primary-varient),
    var(--color-black)
  );
  padding: 15px 30px 15px 30px;
}

.values__image {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.values__title {
  font-size: 36px;
  color: var(--color-white);
}

.values__description {
  font-size: 20px;
  color: var(--color-light);
}
