.homeContactDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 448px;
}

.homeContactBtn {
  cursor: pointer;
  outline: none;
  border: none;

  color: var(--color-white);
  border-radius: 0.2vw;
  font-size: 18px;

  margin-right: 1rem;
  padding: 0.5rem 2rem 0.5rem 2rem;

  background-color: var(--color-primary);

  transition: all 0.25s;
}

.homeContactBtn:hover {
  background-color: var(--color-primary-varient);
}
